.new-link {
  margin-bottom: 2rem;
  .post-button {
    position: relative;
    display: block;
    width: 6rem;
    padding: 0.2rem;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    background: #26C6DA;
    border-bottom: 2px solid #00838F;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    margin-bottom: 1rem;
  }
  .post-button:active {
    border-bottom: 2px solid #26C6DA;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }
  .favorite-button {
    position: relative;
    display: block;
    width: 9rem;
    padding: 0.2rem;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    background: #ff6699;
    border-bottom: 2px solid #ff1A6F;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  }
  .favorite-button:active {
    border-bottom: 2px solid #ff6699;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }
}
.post-box {
  border: solid 2px #DDDDDD;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0.8rem auto;
  padding: 0.8rem;
  background-color: white;
  .post-box-header {
    display: flex;
    margin-bottom: 1rem;
    .post-box-image {
      padding-right: 0.5rem;
      
      .post-box-profile-image {
        height: 50px;
        width: 50px;
        border-radius: 50%;
      }
    }
    .post-box-poster {
      color: darkblue;
      font-size: 1.5rem;
      padding-top: 0.5rem;
    }
  }
  .post-box-image {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    .img {
      width: 100%;
      height: auto;
    }
  }
  .post-box-link {
    display: flex;
    margin-bottom: 1rem;
    .info-button {
      display: block;
      width: 4rem;
      padding: 0.2rem;
      text-align: center;
      text-decoration: none;
      color: darkslategray;
      border: 2px solid darkslategray;
      border-radius: 3px;
      transition: .4s;
    }
    .info-button:hover {
      background: darkslategray;
      color: #fff;
    }
    .favorite-post-button {
      display: block;
      width: 8rem;
      padding: 0.2rem;
      text-align: center;
      text-decoration: none;
      color: #ff6699;
      border: 2px solid #ff6699;
      border-radius: 3px;
      transition: .4s;
    }
    .favorite-post-button:hover {
      background: #ff6699;
      color: #fff;
    }
    .favorite-delete-button {
      display: block;
      width: 10rem;
      padding: 0.2rem;
      text-align: center;
      text-decoration: none;
      color: white;
      border: 2px solid #ff6699;
      background-color: #ff6699;
      border-radius: 3px;
      transition: .4s;
    }
    .favorite-delete-button:hover {
      color: #ff6699;
      background-color: #fff;
    }
    .edit-button {
      display: block;
      width: 4rem;
      padding: 0.2rem;
      text-align: center;
      text-decoration: none;
      color: darkolivegreen;
      border: 2px solid darkolivegreen;
      border-radius: 3px;
      transition: .4s;
    }
    .edit-button:hover {
      background: darkolivegreen;
      color: #fff;
    }
    .delete-button {
      display: block;
      width: 4rem;
      padding: 0.2rem;
      text-align: center;
      text-decoration: none;
      color: darkred;
      border: 2px solid darkred;
      border-radius: 3px;
      transition: .4s;
    }
    .delete-button:hover {
      background: darkred;
      color: #fff;
    }
  }
  .post-box-content {
    padding: 0.5rem 1rem;
    background-color: #f6f6f6;
    border-radius: 8px;
    margin-bottom: 2rem;
  }
}