.index-link {
  display: flex;
  flex-direction: column;

  .index-button {
    position: relative;
    display: block;
    width: 6rem;
    padding: 0.2rem;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    background: #75A9FF;
    border-bottom: 2px solid #2C7CFF;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    margin-bottom: 1rem;
  }
  .index-button:active {
    border-bottom: 2px solid #75A9FF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }
  .favorite-button {
    position: relative;
    display: block;
    width: 9rem;
    padding: 0.2rem;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    background: #ff6699;
    border-bottom: 2px solid #ff1A6F;
    border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  }
  .favorite-button:active {
    border-bottom: 2px solid #ff6699;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }
}
.user-profile {
  display: flex;
  width: 70%;
  height: auto;
  margin: 0 auto;

  .user-show-image {

    .user-image {
      height: 160px;
      width: 160px;
      border-radius: 50%;
      margin-top: 1rem;
    }
  }
  .user-show {
    width: 50%;
    text-align: center;

    .user-show-name {
      font-size: 3rem;
    }
    .user-show-email {

      .user-show-email-heading {
        font-weight: bold;
      }
      .user-show-box {
        background-color: white;
        border-radius: 0.2em;
        border: solid 1px #DDDDDD;
        width: 80%;
        margin: 0 auto;
      }
    }
    .user-show-content {

      .user-show-content-heading {
        font-weight: bold;
      }
      .user-show-box {
        background-color: white;
        border-radius: 0.2em;
        border: solid 1px #DDDDDD;
        width: 80%;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}
.edit-link {
  display: flex;
  justify-content: flex-end;
}